<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>定时任务管理</title>
</head>
<link rel="stylesheet" href="static/css/index.css">
<script src="static/js/vue.js"></script>
<script src="static/js/element.js"></script>
<script src="static/js/axios.min.js"></script>
<body>
<div id="app">
    <div style="vertical-align: middle; height: 60px; margin-top: 10px;">
        <el-button type="primary" icon="el-icon-plus" @click="handleAddClick">添加</el-button>
        <el-button type="primary" icon="el-icon-fa-pause" @click="handlePauseClick">暂停</el-button>
        <el-button type="primary" icon="el-icon-check" @click="handleResumeClick">恢复</el-button>
        <el-button type="primary" icon="el-icon-caret-right" @click="handleRunClick">立即执行</el-button>
    </div>
    <el-table ref="tb"
            v-loading="loading3"
            :data="tableData3"
            @selection-change="handleSelectionChange"
            @select-all="onSelectAll"
            row-height
            border
            style="width: 100%;">
        <el-table-column
                type="selection"
                width="55">
        </el-table-column>
        <el-table-column
                prop="jobClassName"
                label="bean名称"
                :show-overflow-tooltip="true"
                min-width="250">
        </el-table-column>
        <el-table-column
                prop="description"
                label="任务描述"
                min-width="200">
        </el-table-column>
        <el-table-column
                prop="cronExpression"
                label="cron表达式"
                min-width="80">
        </el-table-column>
        <el-table-column
                prop="triggerGroup"
                label="分组"
                align="center"
                min-width="80">
        </el-table-column>
        <el-table-column
                prop="prevFireTime"
                label="上次执行时间"
                align="center"
                :formatter="(row)=>dateFormat(row.prevFireTime)"
                min-width="120">
        </el-table-column>
        <el-table-column
                prop="nextFireTime"
                label="下次执行时间"
                align="center"
                :formatter="(row)=>dateFormat(row.nextFireTime)"
                min-width="120">
        </el-table-column>
        <el-table-column
                prop="triggerState"
                label="状态"
                align="center"
                min-width="80">
        </el-table-column>
        <el-table-column
                fixed="right"
                label="操作"
                width="120">
            <template slot-scope="scope">
                <el-button @click="handleEditClick(scope.row)"  type="primary" icon="el-icon-edit" size="small" circle></el-button>
                <el-button @click="handleDeleteClick(scope.row)" type="danger" icon="el-icon-delete" size="small" circle></el-button>
            </template>
        </el-table-column>
    </el-table>
    <div class="block">
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="pager3.currentPage"
                :page-sizes="[20, 50, 100, 300]"
                :page-size="pager3.pageSize"
                layout="total, sizes, prev, pager, next"
                :total="pager3.totalCount">
        </el-pagination>
    </div>

    <el-dialog
            :title="dialogTitle"
            :visible.sync="dialogVisible"
            width="30%">
        <div>
            <el-form ref="form" :model="editForm" :rules="rules" label-width="100px">
                <el-form-item label="bean名称" prop="jobName">
                    <el-input v-model="editForm.jobName"></el-input>
                </el-form-item>
                <el-form-item label="cron表达式" prop="cronExpression">
                    <el-input v-model="editForm.cronExpression"></el-input>
                </el-form-item>
                <el-form-item label="任务分组" prop="jobGroup">
                    <el-input v-model="editForm.jobGroup"></el-input>
                </el-form-item>
                <el-form-item label="任务描述" prop="jobDescription">
                    <el-input v-model="editForm.jobDescription"></el-input>
                </el-form-item>
            </el-form>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button type="primary" @click="onSaveJob">保存</el-button>
            <el-button @click="dialogVisible=false">取消</el-button>
        </span>
    </el-dialog>


</div>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                dialogVisible: false,
                dialogTitle: '',
                contextPath: "/"+window.document.location.pathname.split("/")[1],
                loading3: false,
                selectedData: [],
                tableData3: [],
                pager3: {
                    currentPage: 1,
                    pageSize: 20,
                    totalCount: 0,
                },
                editForm: {
                    jobName: '',
                    jobGroup: '',
                    cronExpression: '',
                    jobDescription: ''
                },
                rules: {
                    jobName: [{required: true, message:'bean名称不能为空', trigger: 'blur'}],
                    cronExpression: [{required: true, message:'cron表达式不能为空', trigger: 'blur'}],
                    jobDescription: [{required: true, message:'描述不能为空',trigger: 'blur'}],
                    jobGroup: [{required: true, message:'任务组不能为空', trigger: 'blur'}]
                },
            }
        },
        mounted(){
            this.loadList3()
        },
        methods: {
            handleEditClick(row){
                this.editForm = {
                    jobName: row.jobName,
                    jobGroup: row.jobGroup,
                    cronExpression: row.cronExpression,
                    jobDescription: row.description
                }
                this.dialogTitle = '编辑定时任务'
                this.dialogVisible = true
            },
            handleDeleteClick(row){
                this.$confirm('确认删除任务？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.deleteJob({jobName: row.jobName, jobGroup: row.jobGroup})
                }).catch(() => {

                });

            },
            handleAddClick(){
                this.editForm = {
                    jobName: '',
                    jobGroup: '',
                    cronExpression: '',
                    jobDescription: ''
                }
                this.dialogTitle = '添加定时任务'
                this.dialogVisible = true
            },
            handlePauseClick(){
                this.pauseJob({jobName: this.selectedData.jobName, jobGroup: this.selectedData.jobGroup})
            },
            handleResumeClick(){
                this.resumeJob({jobName: this.selectedData.jobName, jobGroup: this.selectedData.jobGroup})
            },
            handleRunClick(){
                this.runJob({jobName: this.selectedData.jobName, jobGroup: this.selectedData.jobGroup})
            },
            onSaveJob(){
                this.$refs['form'].validate((valid) => {
                    if (valid) {
                        if (this.dialogTitle === '编辑定时任务') {
                            this.updateJob()
                        } else {
                            this.addJob()
                        }
                        this.dialogVisible = false
                    }

                })
            },
            runJob(data){
                let _this = this
                this.fetch('/quartz/run', data, function (res){
                    _this.$message({
                        type: 'success',
                        message: '任务已启动'
                    });
                    _this.loadList3()
                })
            },
            pauseJob(data){
                let _this = this
                this.fetch('/quartz/pause', data, function (res){
                    _this.$message({
                        type: 'success',
                        message: '添加成功'
                    });
                    _this.loadList3()
                })
            },
            resumeJob(data){
                let _this = this
                this.fetch('/quartz/resume', data, function (res){
                    _this.$message({
                        type: 'success',
                        message: '添加成功'
                    });
                    _this.loadList3()
                })
            },
            addJob(){
                let _this = this
                this.fetch('/quartz/add', this.editForm, function (res){
                    _this.$message({
                        type: 'success',
                        message: '添加成功'
                    });
                    _this.loadList3()
                })
            },
            updateJob(){
                let _this = this
                this.fetch('/quartz/update', this.editForm, function (res){
                    _this.$message({
                        type: 'success',
                        message: '更新成功'
                    });
                    _this.loadList3()
                })
            },
            deleteJob(data){
                let _this = this
                this.fetch('/quartz/delete/', data, function (response){
                    _this.$message({
                        type: 'success',
                        message: '删除成功'
                    });
                    _this.loadList3()
                })

            },
            loadList3(){
                let _this = this
                this.fetch('/quartz/search/'+this.pager3.currentPage+"/"+this.pager3.pageSize, {
                    jobName: ''
                }, function (response){
                    _this.pager3.totalCount = response.data.data.total
                    _this.loading3 = false
                    _this.tableData3 = response.data.data.records
                })
            },
            handleSelectionChange(val){
                if(val.length > 1){
                    this.$refs.tb.clearSelection()
                    this.selectedData = val.pop()
                    this.$refs.tb.toggleRowSelection(this.selectedData)
                }else{
                    this.selectedData = val[0]
                }
            },
            onSelectAll () {
                this.$refs.tb.clearSelection()
            },
            handleSizeChange(val) {
                this.pager3.pageSize = val
                this.loadList3()
            },
            handleCurrentChange(val) {
                this.pager3.currentPage = val
                this.loadList3()
            },
            fetch(path, param, callback){
                let _this = this;
                axios.post(this.contextPath+path, param)
                    .then(function (response) {
                        if(response.data.success) {
                            callback(response)
                        }else{
                            _this.$message({
                                message: '操作失败',
                                type: 'error'
                            });
                        }
                    })
                    .catch(function (error) {
                        _this.$message({
                            message: JSON.stringify(error),
                            type: 'error'
                        });
                    });
            },
            dateFormat(time) {
                var date=new Date(time)
                var year=date.getFullYear()
                /* 在日期格式中，月份是从0开始的，因此要加0
                 * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
                 * */
                var month= date.getMonth()+1<10 ? "0"+(date.getMonth()+1) : date.getMonth()+1
                var day=date.getDate()<10 ? "0"+date.getDate() : date.getDate()
                var hours=date.getHours()<10 ? "0"+date.getHours() : date.getHours()
                var minutes=date.getMinutes()<10 ? "0"+date.getMinutes() : date.getMinutes()
                var seconds=date.getSeconds()<10 ? "0"+date.getSeconds() : date.getSeconds()
                // 拼接
                return year+"-"+month+"-"+day+" "+hours+":"+minutes+":"+seconds
            }
        }
    })
</script>
</body>
</html>